.theme
    background-color: black
    color: white

.flex-col 
    display: flex
    flex-direction: column

.flex-row
    display: flex
    flex-direction: row

.mid 
    justify-content: center
    align-items: center

i.icon
    font-style: normal
    cursor: pointer

.part
    cursor: pointer
    padding: 1vh 1vw

    &[active]
        color: red  