main
    display: grid
    grid-template-columns: 0.2fr 0.8fr
    padding: 1vh 1vw
    grid-gap: 1vh 1vw
    & > section
        display: grid
        grid-template-rows: 0.1fr 0.9fr
        justify-items: center

#current
    object-fit: contain
    max-width: 75%

#routine
    width: 100%
    overflow-y: hidden
    justify-content: center
    display: flex

#timer
    text-align: center
    font-size: 4em

#timer[active] test-circuit
    border-color: red