main
    display: grid
    grid-template-columns: 0.2fr 0.8fr
    padding: 1vh 1vw
    grid-gap: 1vh 1vw

    & > section
        display: grid
        grid-template-rows: 0.1fr 0.9fr
        justify-items: center